/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root { 
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --transparent-color : #ececec;
    --color-2:#777;
}
a {
    text-decoration: none;
}
body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}
.spikes {
    position: relative;
}
.spikes::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
     linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px ;
}
/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width:992px) {
    .container {
        width: 750px;
    }
}
/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.main-title {
    text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-title:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    left: -30px;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
}
    
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    right: -30px;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
}
.main-title:hover::before {
    z-index: -1;
    animation: left 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right 0.5s linear forwards;
}
/* End Globa Rules */
/* Start Header */
.header {
   background-color: white;
   position: relative;
   -webkit-box-shadow: 0 0 10px #ddd;
   -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
} 
.header .logo {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    .header .logo{
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width:767px) {
    .header .main-nav {
        margin: auto;
    }
}
.header .container .main-nav > li > a  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    padding: 0 40px;
    color: black;
    overflow: hidden;
    position: relative;
    transition: var(--main-transition);
}
@media (max-width:767px) {
    .header .container .main-nav > li > a {
        padding: 10px;
        height: 40px;
        font-size: 14px;
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: 100%;
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
/* Start Megamenu */
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition) opacity var(--main-transition);
    
}
@media (max-width:767px) {
    .header .mega-menu  {
        gap: 0;
        flex-direction: column;
        padding: 5px;
    }
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width:992px) {
    .header .mega-menu .image img {
        display: none;
    }
}
.header .mega-menu .links {
 min-width: 240px;
 flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--transparent-color);
}
@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child  {
        border-bottom: 1px solid #ececec;
    }
}
.header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover {

}
.header .mega-menu .links li:hover::before {

}
/* End Megamenu */
/* End Header */
/* Start Landing */
.landing {
    position: relative;
    
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ececec;
    z-index: -1;
    transform: skewy(-6deg);
    transform-origin: top left;
}
.landing .container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    min-height: calc(100vh - 82px);
    padding-bottom: 120px;;
}
.landing .container .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .container .text {
      text-align: center;
    }
  }
.landing .container .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .container .text h1 {
      font-size: 28px;
    }
  }
.landing .container .text p {
    font-size: 25px;
    color: #555;
    max-width: 500px;
    margin: 5px 0 0;
}
@media (max-width: 767px) {
    .landing .container .text p {
      font-size: 18px;
    }
  }
@media (max-width: 991px) {
    .landing .container .text p {
      margin: 10px auto;
    }
  }
.landing .container img {
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;

}
@media (max-width: 991px) {
    .landing .image {
      display: none;
    }
  }

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);

}

.landing .container .go-down:hover {
    color: var(--main-color-alt);
}
.landing .container .go-down i {
    animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Animation */
@keyframes up-and-down {
    0%,100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
@keyframes left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-back {
    0%,100% {
        background-image:url(../img/discount-background1.jpg);
    }
    50% {
        background-image: url(../img/discount-background2.jpg);
    }
}
/* End Animation */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .box {
    box-shadow: 0 2px 15px lch(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px lch(0 0 0 / 20%);
}
.articles .container .box img {
    max-width: 100%;
}
.articles .container .box .text {
    padding: 20px;
}
.articles .container .box .text h3 {
    margin: 0;
}
.articles .container .box .text p {
    color: var(--color-2);
    line-height: 1.5;
    margin: 10px 0 0 0;
}
.articles .container .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    align-items: center;
}
.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articles .container .box:hover .info i {
    animation: moving-arrow 0.5s linear infinite;
}
.articles .container .box .info i {
    color: var(--main-color);
    transition: 0.3s;
}
/* End Articles */
/* Start Gallary */
.gallary {
 padding-top: var(--main-padding-top);
 padding-bottom: var(--main-padding-bottom);
 position: relative;
 background-color: var(--transparent-color);
}
.gallary .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallary .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px lch(0 0 0 / 13%), 0 2px 4px 0 lch(0 0 0 / 12%);
}
.gallary .container  .image {
    position: relative;
    overflow: hidden;
}
.gallary .container .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lch(100 0 0 / 0.3);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
  
}
.gallary .container  .image:hover::before {
    animation: flashing 0.7s;
}
.gallary .container .box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallary .container  .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallary */
/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white ;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    
}
.features .container .box {
    text-align: center;
    border: 1px solid #ccc;
    transition: 0.3s;
    
}
.features .container .box .img-holder{
    position: relative;
    overflow: hidden;
    
}
.features .container .box .img-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.features .container .box .img-holder::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .container .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0px;
}


.features .container .box img {
    max-width: 100%;
}
.features .box h2 {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
}
.features .box h2::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    height: 5px;
    
  }
.features .container .box p {
    line-height: 2;
    margin: 20px 0;
    font-size: 20px;
    color: var(--color-2);
    padding: 25px;
}
.features .container .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 22px;
    padding: 10px 20px;
    border: 3px solid ;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
  }
  .features .quality h2::after {
    background-color: #f44036;
  }
  .features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
  }
  .features .time h2::after {
    background-color: #009688;
  }
  .features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
  }
  .features .passion h2::after {
    background-color: #03a9f4;
  }
  .features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
.features .box:hover a {
    background-position: left bottom;
    color: white;
  }
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--transparent-color);
    position: relative;
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px lch(0 0 0 / 0.07);
    position: relative;
    border-radius: 6px;
}

.testimonials .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--transparent-color);
}

.testimonials .box h3 {
    margin: 0 0 10px;
}
.testimonials .box .title {
    color: var(--color-2);
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    color: var(--main-color);
}

.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    line-height: 1.5;
    color: var(--color-2);
    margin-top: 10px;
    margin-bottom: 0;
}

/* End Testimonials */
/* Start team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .team .box {
    position: relative;
  }
  .team .box::before,
  .team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
  }
  .team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
  }
  .team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
  }
  .team .box:hover::after {
    width: calc(100% - 60px);
  }
.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .container .box .info {

}
.team .container .box .data img {
    width: 100%;
    transition: var(--main-transition);
    width: calc(100% - 60px);
    border-radius: 10px;
}
.team .container .box .data img:hover {
    filter: grayscale(100%);
}
.team .container .box .data .social {
    width: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.team .container .box .data i {
    color: var(--color-2);
    transition: var(--main-transition);
}
.team .container .box .data a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.team .container .box .data a:hover i {
    color: var(--main-color);
}
.team .container .box .info  {
    padding-left: 80px;
}
.team .container .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
}

.team .container .box .info p {
    margin-top: 10px;
    margin-bottom: 20px;
}.team .container .box:hover h3 {
    color: var(--color-2);
}
/* Start team */         
/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--transparent-color);
    position: relative;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}
.services .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    counter-increment: services;
    transition: var(--main-transition);
}
.services .container .box::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    transition: var(--main-transition);
    background-color: var(--main-color);
}
.services .container .box:hover::before {
    width: 100%;
}
.services .container .box:hover  {
    transform: translateY(-10px);

}
.services .container .box > i {
    margin: 30px auto 20px;
    color: #d5d5d5;
    text-align: center;
    display: block;
}
.services .container .box > h3 {
    color: var(--main-color);
    margin: 10px 0 40px;
    font-size: 25px;
    text-align: center;
}

.services .container .info {
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
    position: relative;
}
.services .container .info a {
    color: var(--main-color);
}
.services .container .info::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-right: 15px;
}
.services .container .info::after {
    content: "";
    position: absolute;
    left: 80px;
    top: 0;
    background-color: #d5d5d5;
    height: 100%;
    width: 50px;
    transform: skewx(-30deg);
}

/* End Services */
/* Start Skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.our-skills .container {
    display: flex;
    align-items: center;
}
@media (max-width:992px) {
    .our-skills .container img {
        display: none;
    }
}
.our-skills .skills {
    flex: 1;
}
.our-skills .skill {

}
.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    font-size: 13px;
    color: var(--main-color);
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
}
.our-skills .skill .the-prog {
    height: 30px;
    background-color: #ddd;
    position: relative;
}
.our-skills .skill .the-prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

/* End Skills */
/* Start Work */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--transparent-color);
    position: relative;
}
.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-steps .container .image {
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:992px) {
    .work-steps .container .image{
        display: none;
    }
}
.work-steps .info .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    
}
@media (max-width:767px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .info .box img {
    width: 64px;
    margin-right: 30px;
}
@media (max-width:767px) {
    .work-steps .info .box img{
        margin-bottom: 10px;
    }   
}
.work-steps .info .box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}
.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .info .box .text {

}
.work-steps .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}
.work-steps .info .box .text p {
    color: var(--color-2);
    line-height: 1.5;
    margin: 10px 0;
    font-size: 17px;
} 
/* End Work */
/* Start Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.events .container img {
    max-width: 400px;
}
@media (max-width:991px) {
    .events .container img{
        display: none;
    }
}
.events .container .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

.events .info .time .unit {
    transition: var(--main-transition);
    border: 1px solid #d4d4d4;
    width: 75px;
    border-radius: 6px;
    text-align: center;
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
    
}
.events .info .time .unit span {
    display: block;
}
.events .info .time .unit span:first-child {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    padding: 15px;
}
.events .info .time .unit span:last-child {
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}
.events .title {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
    font-weight: bold;
}
.events .title h2 {

}
.events .title p {
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
    color: var(--color-2);
}
.events .subscribe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.events form {
    width: 600px;
    display: flex;
    gap: 20px;
    background-color: #f6f5f5;
    padding: 30px 40px;
    margin: 20px auto;
    border-radius: 50px;
}
@media (max-width:767px) {
    .events .subscribe form {
        max-width: 100%;
        flex-direction: column;
        padding: 15px;
        border-radius: 0;
    }
}
.events .subscribe form input[type=email] {
    padding: 20px;
    flex: 1;
    border-radius: 50px;
    border: none;
    caret-color: var(--main-color);
}
.events .subscribe form input[type=email]:focus {
    outline: none;
}
.events .subscribe form input[type=email]::placeholder {
    transition: opacity var(--main-transition);
}
.events .subscribe form input[type=email]:focus::placeholder {
    opacity: 0;
}
.events .subscribe form input[type=submit] {
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: var(--main-transition);
    cursor: pointer;
} 
.events .subscribe form input[type=submit]:hover {
    background-color: var(--main-color-alt);
}
/* End Events */
/* Start Pricing */
.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--transparent-color);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .box {
    position: relative;
    background-color: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    z-index: 1;
}
.pricing .box::before,
.pricing .box:after {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    width:0;
    height: 50%;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing .box::before{
   left: 0;
   top: 0;
}
.pricing .box:after {
    bottom: 0;
    right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}
@media (min-width:1199px) {
    .pricing .popular {
        transform: translateY(-15px);
    }
}
.pricing .popular .label {
    background-color: var(--main-color);
    position: absolute;
    color: white;
    writing-mode: vertical-lr;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    right: 20px;
}
.pricing .popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}
.pricing .box .title {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}
.pricing .container .box img {
    width: 80px;
    margin-bottom: 30px;

}
.pricing .container .box .price {
    margin-bottom: 20px;
}

.pricing .box .price .amount {
    width: 100%;
    display: block;
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
}
.pricing .box .price .time {
    color: var(--color-2);
}
.pricing .box ul {
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 free";
    content: "\f00c";
    margin-right: 10px;
    color: var(--main-color);
    font-weight: 900;
}
.pricing .box a {
    margin: 30px auto;
    display: block;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: fit-content;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    color: white;
    border: 0;
    background-color: var(--main-color);
}
/* End Pricing */
/* Start Video */
.video {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    
}
.video .holder  {
 display: flex;
 justify-content: center;
 background-color: var(--transparent-color);
 border: 1px solid #ddd;
}
@media (max-width:991px) {
    .video .holder {
        flex-direction: column;
    }
}
.video .holder .list {
    min-width: 300px;
    background-color: white;
}
.video .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}
.video .holder .list ul li {
    padding: 20px;
    background-color: #ffffff;;
    cursor: pointer;
    transition: var(--main-transition);
}

.video .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: var(--color-2);
}
.video .holder .list ul li:hover {
    color: var(--main-color);
}
.video .holder .preview {
    background-color: #e2e2e2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.video .holder .preview img {
    max-width: 100%;
}
.video .holder .preview .info {
    padding: 15px;
    width: 100%;
    background-color: white;
    font-size: 22px;
}
/* End Video */
/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-size: cover;
    background-image: url(../img/stats.jpg);
}
.stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lch(100 0 0 / 0.9);
    left: 0;
    top: 0;
}
.stats h2 {
    font-size: 45px;
    margin: 15px auto 60px;
    width: fit-content;
    position: relative;
    font-weight: bold;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.stats .container .box {
    background-color: white;
    padding: 30px 15px;
    position: relative;
    text-align: center;
    opacity: 0.8;
}
.stats .container .box:hover {
    opacity: 1;
}
.stats .container .box::before,
.stats .container .box::after  {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
}
.stats .container .box::before {
    right: 0;
    bottom: 0;
}
.stats .container .box::after {
    left: 0;
    top: 0;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .box i {
    font-size: 40px;
    width: 100%;
}
.stats .box .number {
    width: 100%;
    display: block;
    padding: 15px;
    font-size: 45px;
    /* color: var(--main-color); */
    font-weight: bold;
}
.stats .box .text {
    color: var(--main-color);
    font-weight: bold;
    font-size: 22px;
}
/* End Stats */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
@media(max-width:991px) {
    .discount {
        flex-direction: column;
    }
}
.discount .image {
    background-image: url(../img/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-back 10s linear infinite;
}
.discount .image::before  {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount .form {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
@media (max-width:767px) {
    .discount .form {
        padding-bottom: 35px;
    }
}
.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border-style: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .form textarea.input {
 resize: none;
 height: 200px;
}
.discount .form .input:focus {
 outline: none;
 
}
.discount .form [type=submit] {
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    transition: var(--main-transition);
    font-weight: bold;
}
.discount .form [type=submit]:hover {
    background-color: var(--main-color-alt);
}
.discount .content {
    text-align: center;
    padding: 0 20px;
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.5;
    max-width: 500px;
    font-size: 18px;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
}
/* End Discount */
/* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width:767px) {
    .footer {
        padding-top: var(--main-padding-top);
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .container .box {

}
@media (max-width:767px) {
    .footer .container .box {
        text-align: center;
    }
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
}
@media (max-width:767px ) {
    .footer .box .social {
        justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    /* padding: 10px; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
  }
  .footer .box .social .twitter:hover {
    background-color: #1da1f2;
  }
  .footer .box .social .youtube:hover {
    background-color: #ff0000;
  }
  .footer .box .text {
    color: var(--color-2);
    line-height: 2;
}
.footer .box .links li {
    padding: 15px;
    transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    transform: translateX(10px);
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .line {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    color: #b9b9b9;
}
@media (max-width:767px ) {
    .footer .box .line {
        flex-direction: column;
    }
}
.footer .box .line i {
    margin-right: 15px;
    color: var(--main-color);
    font-size: 25px;
}
@media (max-width:767px ) {
    .footer .box .line i {
        margin-bottom: 15px;
    }
}
.footer .box .line  .info {
    line-height: 1.8;
    flex: 1;
}   
.footer .box .line  .info span {
    display: block;
}
.footer .footer-gallary img {
    width: 78px;
    border: 3px solid white ;
    margin: 2px;
}
.footer .copyright {
    text-align: center;
    color: white;
    margin: 50px 0 0;
    padding: 25px;
    border-top: 1px solid #444;
}

/* End Footer */